{% extends "app/base.html" %}
{% block extra_head %}
    <style>
        /* Font */
        @import url('https://fonts.googleapis.com/css?family=Quicksand:400,700');

        /* Design */
        *,
        *::before,
        *::after {
            box-sizing: border-box;
        }

        html {
            background-color: #ecf9ff;
        }

        body {
            color: #272727;
            font-family: 'Quicksand', serif;
            font-style: normal;
            font-weight: 400;
            letter-spacing: 0;
            padding: 1rem;
        }

        .main {
            max-width: 1200px;
            margin: 0 auto;
        }

        h1 {
            font-size: 24px;
            font-weight: 400;
            text-align: center;
        }

        img {
            height: auto;
            max-width: 100%;
            vertical-align: middle;
        }

        .btn {
            color: #ffffff;
            padding: 0.8rem;
            font-size: 14px;
            text-transform: uppercase;
            border-radius: 4px;
            font-weight: 400;
            display: block;
            width: 100%;
            cursor: pointer;
            border: 1px solid rgba(255, 255, 255, 0.2);
            background: transparent;
        }

        .btn:hover {
            background-color: rgba(255, 255, 255, 0.12);
        }

        .cards {
            display: flex;
            flex-wrap: wrap;
            list-style: none;
            margin: 0;
            padding: 0;
        }

        .cards_item {
            display: flex;
            padding: 1rem;
        }

        @media (min-width: 40rem) {
            .cards_item {
                width: 50%;
            }
        }

        @media (min-width: 56rem) {
            .cards_item {
                width: 33.3333%;
            }
        }

        .card {
            background-color: white;
            border-radius: 0.25rem;
            box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
            display: flex;
            flex-direction: column;
            overflow: hidden;
        }

        .card_content {
            padding: 1rem;
            background: linear-gradient(to bottom left, #EF8D9C 40%, #FFC39E 100%);
        }

        .card_title {
            color: #ffffff;
            font-size: 1.1rem;
            font-weight: 700;
            letter-spacing: 1px;
            text-transform: capitalize;
            margin: 0px;
        }

        .card_text {
            color: #ffffff;
            font-size: 0.875rem;
            line-height: 1.5;
            margin-bottom: 1.25rem;
            font-weight: 400;
        }

        .made_by {
            font-weight: 400;
            font-size: 13px;
            margin-top: 35px;
            text-align: center;
        }
    </style>
{% endblock %}
{% include 'app/navbar.html' %}
{% block content %}
    <div class="main">
        <h1>Lista de Servicios Y Grupos Disponibles</h1>
        <ul class="cards">
            <li class="cards_item">
                <div class="card">
                    <div class="card_image"><img src="https://picsum.photos/500/300/?image=3"></div>
                    <div class="card_content">
                        <h2 class="card_title">Netflix Premium</h2>
                        <p class="card_text">
                            Ingresa de 1 cuenta para un dispositivo
                            <b>Precio:</b> $ 5.00</p>
                        <a href="{% url 'userprofile:profile' %}" type="button" class="btn card_btn">Entrar</a>
                    </div>
                </div>
            </li>
            <li class="cards_item">
                <div class="card">
                    <div class="card_image"><img src="https://picsum.photos/500/300/?image=5"></div>
                    <div class="card_content">
                        <h2 class="card_title">Office 365</h2>
                        <p class="card_text">
                            Ingresa de 1 cuenta para un dispositivo
                            <b>Precio:</b> $ 3.99</p>
                        <a href="{% url 'userprofile:profile'%}" type="button" class="btn card_btn">Entrar</a>
                    </div>
                </div>
            </li>
            <li class="cards_item">
                <div class="card">
                    <div class="card_image"><img src="https://picsum.photos/500/300/?image=11"></div>
                    <div class="card_content">
                        <h2 class="card_title">Spotify Premium</h2>
                        <p class="card_text">Ingresa de 1 cuenta para un dispositivo
                         <b>Precio:</b> $ 3.99</p></p>
                        <a href="{% url 'userprofile:profile' %}" type="button" class="btn card_btn">Entrar</a>
                    </div>
                </div>
            </li>            <li class="cards_item">
                <div class="card">
                    <div class="card_image"><img src="https://picsum.photos/500/300/?image=14"></div>
                    <div class="card_content">
                        <h2 class="card_title">Netflix Premium</h2>
                        <p class="card_text">
                            Ingresa de 1 cuenta para un dispositivo
                            <b>Precio:</b> $ 5.00</p>
                        <a href="{% url 'userprofile:profile' %}" type="button" class="btn card_btn">Entrar</a>
                    </div>
                </div>
            </li>
            <li class="cards_item">
                <div class="card">
                    <div class="card_image"><img src="https://picsum.photos/500/300/?image=2"></div>
                    <div class="card_content">
                        <h2 class="card_title">Office 365</h2>
                        <p class="card_text">
                            Ingresa de 1 cuenta para un dispositivo
                            <b>Precio:</b> $ 3.99</p>
                        <a href="{% url 'userprofile:profile' %}" type="button" class="btn card_btn">Entrar</a>
                    </div>
                </div>
            </li>
            <li class="cards_item">
                <div class="card">
                    <div class="card_image"><img src="https://picsum.photos/500/300/?image=17"></div>
                    <div class="card_content">
                        <h2 class="card_title">Spotify Premium</h2>
                        <p class="card_text">Ingresa de 1 cuenta para un dispositivo
                         <b>Precio:</b> $ 3.99</p></p>
                        <a href="{% url 'userprofile:profile' %}" type="button" class="btn card_btn">Entrar</a>
                    </div>
                </div>
            </li>

    {% if posts.has_other_pages %}
        <ul class="pagination">
            {% if posts.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ posts.previous_page_number }}">&laquo;</a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1">&laquo;</a>
                </li>
            {% endif %}
            {% for i in posts.paginator.page_range %}
                {% if posts.number == i %}
                    <li class="page-item active">
                        <a class="page-link">{{ i }} <span class="sr-only">(current)</span></a>
                    </li>
                {% else %}
                    <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                {% endif %}
            {% endfor %}
            {% if posts.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ posts.next_page_number }}">&raquo;</a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1">&raquo;</a>
                </li>
            {% endif %}
        </ul>
    {% endif %}

    <hr>



{% endblock %}